html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin-top: 5px;
    display: block;
    text-align: -webkit-center;

}

header{
    border-bottom: solid dimgray ;
    border-bottom-style: groove;
    width: 1024px;
}
main{
    width: 1024px;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div{
    margin-bottom: 15px;
}

h1 {
    margin-top:40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}
.logo{
    display: inline;
    height: auto;
    margin-top:20px;
    margin-bottom: 40px;
    margin-right: 400px;
    margin-left: 40px;
}
form {
    display: inline;
    margin-top:20px;
    margin-bottom: 40px;
}
blockquote {
    margin: 0;
    display: inline;
    white-space: pre-line;
}


blockquote p {
    padding: 15px;
    height: 150px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 150%;
}
.menu1-1, .menu2-1 ,.menu3-1 ,.menu4-1 ,.menu1-3 ,.menu2-3 ,.menu3-3 ,.menu4-3{
    background: #FD9F9F;

}
.menu1-2, .menu2-2, .menu3-2, .menu4-2, .menu1-4, .menu2-4, .menu3-4, .menu4-4{
    background: #8FC7CB;
}

td {
}
.mainTd , .mainTd1-1, .mainTd2-1, .mainTd3-1, .mainTd4-1, .mainTd1-2, .mainTd2-2, .mainTd3-2, .mainTd4-2, .mainTd1-3, .mainTd2-3, .mainTd3-3, .mainTd4-3, .mainTd1-4, .mainTd2-4, .mainTd3-4, .mainTd4-4{
    align: left;
    float: left;
    list-style:none;
    width: 150px;
}

thead td{
    border: 3px solid #FDD973;
    padding-top: 10px;
    height: 30px;
    text-align: center;
    margin:10px;
}

tbody td{
    padding-right: 3px;
    padding-left: 3px;
    margin: 10px 10px 0px;
}
.search-form{
    horiz-align: right;
}

.menu1{

}

a{

}
.mypageButton {
    display: inline;
    padding: 10px;
    margin-left: 5px;
    margin-top:15px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 5px;
}
.createReview{
    display: inline;
    padding: 10px;
    margin-left: 5px;
    margin-top:15px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 5px;
}
.logout {

    display: inline;
    padding: 10px;
    margin-left: 5px;
    margin-top:15px;
    margin-bottom: 40px;
    border: 3px solid #FDD973;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 5px;
}
input
.prevDate .nextDate{

    display: inline-block;
    width: 49px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px;
    vertical-align: top;
    text-indent: -9999px;
    overflow: hidden;
}
