<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" >

<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://kit.fontawesome.com/76cfe4f16b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/mainhomeJs.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainhomeStyle.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>이돼장</title>
    <style media="screen">
        .wrap{
            width: 1000px;
            height: 300px;
            overflow-x: scroll;
            white-space:nowrap
        }
        .wrap img{
            width:300px;
            height:100%;
        }

        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&display=swap');
        .mainPageBody{
            /*font-family: 'Jua', sans-serif;*/
        }
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
        .todayMenuTxt{
            font-family: 'Nanum Myeongjo', serif;

        }

        .searchSideNav{
            height: 0;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #FDD973;
            overflow-y: hidden;
            /*padding-bottom: 5px;*/
            transition: 0.5s;
        }

        .searchSideNav a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            display: block;
            transition: 0.3s;
        }
        .searchSideNav a:hover {
            color: white;
        }
        .searchSideNav .closebtn{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .searchSideForm{
            margin-top: 15px;
        }
        .searchForm{
            font-size: 20px;
        }
        #placeName{
            height: 30px;
            width: 150px;
            border: solid 1px gray;
        }
        #searchKeyword{
            height: 25px;
            width: 350px;
            border: solid 1px gray;
        }
        .searchButton{
            height: 30px;
        }
        table{
            border-spacing: 20px;
            border-collapse: separate;
        }
        blockquote { cursor: pointer;}
        .menu1:hover{
            background: #A8A8A8;
        }
        .menu2:hover{
            background: #A8A8A8;
        }

        .ui-menu .ui-menu-item-wrapper{
            margin-bottom: 5px;
            text-align: left;
        }
        .ui-menu-item{
            font-size: 12px;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // for( i=1;i<5;i++){
            //     for( j=1;j<5;j++){
            //         var diet = [[${diets.get(0)}]];
            //         if (diet == '등록된 식단이 없습니다.'){
            //             $('.mainTd1-1').removeAttribute('onClick');
            //         }
            //     }
            // }


            $('#searchKeyword')
                .bind("keydown", function(event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).data("ui-autocomplete").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function(request, response) {
                        var placeId = $('#placeName option:selected').val();
                        $.ajax({
                            url: "/autoSearching",
                            type: 'GET',
                            data: {term : extractLast(request.term), placeId : placeId},
                            success: function(data){
                                var results = [];
                                var term = extractLast(request.term);
                                $.each(data, function(k, v) {
                                    if (v.name.indexOf(term) != -1) {
                                        results.push(v);
                                    }
                                });
                                response(results);
                            }
                        });
                    },
                    minLength : 1,
                    focus: function(event, ui){
                        return false;
                    },
                    select: function (event, ui){
                        var names = split(this.value);
                        var menuIds = split($('#searchKeyword-id').val());
                        names.pop();
                        menuIds.pop();

                        names.push(ui.item.name);
                        menuIds.push(ui.item.menuId);
                        names.push("");
                        menuIds.push("");
                        this.value = names.join(", ");
                        $('#searchKeyword-id').val(menuIds.join(","));
                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function(ul, item){
                return $( "<li>" )
                    .append( "<div>" + item.name + "<sub style='color: gray;font-size: 8px'>&nbsp;&nbsp;&nbsp;" + item.place + "</sub></div>" )
                    .appendTo( ul );
            };

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }
        });
    </script>
</head>
<body class="mainPageBody">
<header>
    <div class="searchSideNav" id="searchSideNav" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeSearchNav()">&times;</a>
        <div class="searchSideForm">
            <form method="get" action="/searchKeyword" class="searchForm" accept-charset="utf-8">
                <label for="placeName">위치</label>
                <select id="placeName" name="placeName">
                    <option value="-1">------All------</option>
                    <option value="0">생활관 학생식당</option>
                    <option value="1">생활관 교직원식당</option>
                    <option value="2">진선미관식당</option>
                    <option value="3">헬렌관 식당</option>
                    <option value="4">공대식당</option>
                    <option value="5">한우리집 지하1층</option>
                    <option value="6">이하우스 201동</option>
                    <option value="7">이하우스 301동</option>
                </select>
                <label for="searchKeyword">메뉴</label>
                <input type="text" placeholder="EX) 새우까스, 샐러드" id="searchKeyword" name="searchKeyword">
                <input type="hidden" id="searchKeyword-id" name="searchKeyword-id">
                <button type="submit" class="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="topDiv"> <!-- 上 부분-->
        <button onclick = "location.href = '/'" class="logo" >
            <img src="images/logo.png" width="134" height="35" fill="none"></img>
        </button>
<!--            <form class="search-form" id="search_form" action="/search" accept-charset="UTF-8" method="get" >-->
<!--                <input placeholder="메뉴, 장소 등" autocomplete="off" class="p-header__search-form-input" type="search" name="search-menu" >-->
                <button type="submit" onclick="openSearchNav()" style="background: white; border: none">
                    <i class="fas fa-search" style="color: #FDD973; font-size: 20px"></i>
                </button>
<!--            </form>-->
        <a th:if="${session.loginCheck eq true}" class="createReview" method="get" href="/createReviewDefault" action="/createReviewDefault" role="button" >
            리뷰작성
        </a>
        <a th:if= "${session.loginCheck eq true}" class="mypageButton" href="/mypage" role="button" >
            마이페이지
        </a>
        <a th:if= "${session.loginCheck eq true}" class="logout" href="/user/signOut" role="button" >
            로그아웃
        </a>
        <a th:unless="${session.loginCheck eq true}" class="logout" href="/login" role="button" >
            로그인
        </a>


    </div>
</header>
<main>
    <div> <!-- 上中 부분-->
<!--        <p th:text="'안녕하세요, 님!'" >hello!</p>-->
    </div>

    <div align="center"><!-- 中 부분, 식단컨텐츠　-->
        <h1 class="todayMenuTxt">
            오늘의 메뉴
        </h1>
<!--        <div>-->
<!--            <form action="/main">-->
<!--                <input class="prevDate" type="submit">  <i class="fas fa-angle-left"></i> </input>-->
<!--                <span th:text="${theDate}"></span>-->
<!--                <input class="nextDate" type="submit"> <i class="fas fa-angle-right"></i> </input>-->
<!--            </form>-->
<!--        </div>-->
        <table>
            <thead>
                <tr>
                    <td class="mainTd" style="margin-left: 20px">
                        <p>생활관 학생식당</p>
                    </td>
                    <td class="mainTd">
                        <p>생활관 교직원 식당</p>
                    </td>
                    <td class="mainTd">
                        <p>진선미관 식당</p>
                    </td>
                    <td class="mainTd">
                        <p>헬렌관 식당</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mainTd1-1">
                        <blockquote width="50" height="90">
                            <p th:if="${diets.get(0).toString()}=='등록된 식단이 없습니다.'"  class="menu1-1" >등록된 식단이 <br>없습니다.</p>
                            <p th:unless="${diets.get(0).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=0'" class="menu1-1" th:text="${diets.get(0)}"  >메뉴1</p>
                        </blockquote>
                    </td>
                    <td class="mainTd2-1">
                        <blockquote width="50" height="90">
                            <p th:if="${diets.get(2).toString()}=='등록된 식단이 없습니다.'" class="menu2-1">등록된 식단이 <br>없습니다.</p>
                            <p th:unless="${diets.get(2).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=2'" class="menu2-1" th:text="${diets.get(2)}"  >메뉴3</p>
                        </blockquote>
                    </td>
                    <td class="mainTd3-1">
                        <blockquote  width="50" height="90">
                            <p th:if="${diets.get(4).toString()}=='등록된 식단이 없습니다.'" class="menu3-1" >등록된 식단이 <br>없습니다.</p>
                            <p th:unless="${diets.get(4).toString()}=='등록된 식단이 없습니다.'"  onClick="location.href='/searchToday?menuNo=4'" class="menu3-1" th:text="${diets.get(4)}"  >메뉴5</p>
                        </blockquote>
                    </td>
                    <td  class="mainTd4-1">
                        <blockquote  width="50" height="90">
                            <p th:if="${diets.get(6).toString()}=='등록된 식단이 없습니다.'" class="menu4-1" >등록된 식단이 <br>없습니다.</p>
                            <p th:unless="${diets.get(6).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=6'" class="menu4-1" th:text="${diets.get(6)}"  >메뉴7</p>
                        </blockquote>
                    </td>
                </tr>
            </tbody>
            <tbody height="50px">
                <tr>
                <td class="mainTd1-2">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(1).toString()}=='등록된 식단이 없습니다.'" class="menu1-2" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(1).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=1'" class="menu1-2" th:text="${diets.get(1)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td class="mainTd2-2">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(3).toString()}=='등록된 식단이 없습니다.'" class="menu2-2" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(3).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=3'" class="menu2-2" th:text="${diets.get(3)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td  class="mainTd3-2">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(5).toString()}=='등록된 식단이 없습니다.'" class="menu3-2" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(5).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=5'" class="menu3-2" th:text="${diets.get(5)}"  >메뉴1</p>
                    </blockquote>
                </td>
                    <td class="mainTd4-2">
                        <blockquote width="50" height="90">
                            <p th:if="${diets.get(7).toString()}=='등록된 식단이 없습니다.'" class="menu4-2" >등록된 식단이 <br>없습니다.</p>
                            <p th:unless="${diets.get(7).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=7'" class="menu4-2" th:text="${diets.get(7)}"  >메뉴1</p>
                        </blockquote>
                    </td>
                </tr>
            </tbody>
            <thead>
            <tr>
                <td class="mainTd" style="margin-left: 20px">
                    <p>공대식당</p>
                </td>
                <td class="mainTd">
                    <p>한우리집 지하 1층</p>
                </td>
                <td class="mainTd">
                    <p>이하우스 201동</p>
                </td>
                <td class="mainTd">
                    <p>이하우스 301동</p>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mainTd1-3">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(8).toString()}=='등록된 식단이 없습니다.'" class="menu1-3" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(8).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=8'" class="menu1-3" th:text="${diets.get(8)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td class="mainTd2-3">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(10).toString()}=='등록된 식단이 없습니다.'" class="menu2-3" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(10).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=10'" class="menu2-3" th:text="${diets.get(10)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td class="mainTd3-3">
                    <blockquote  width="50" height="90">
                        <p th:if="${diets.get(12).toString()}=='등록된 식단이 없습니다.'" class="menu3-3" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(12).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=12'" class="menu3-3" th:text="${diets.get(12)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td  class="mainTd4-3">
                    <blockquote  width="50" height="90">
                        <p th:if="${diets.get(14).toString()}=='등록된 식단이 없습니다.'" class="menu4-3" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(14).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=14'" class="menu4-3" th:text="${diets.get(14)}"  >메뉴1</p>
                    </blockquote>
                </td>
            </tr>
            </tbody>
            <tbody height="50px">
            <tr>
                <td class="mainTd1-4">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(9).toString()}=='등록된 식단이 없습니다.'" class="menu1-4" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(9).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=9'" class="menu1-4" th:text="${diets.get(9)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td class="mainTd2-4">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(11).toString()}=='등록된 식단이 없습니다.'" class="menu2-4" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(11).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=11'" class="menu2-4" th:text="${diets.get(11)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td  class="mainTd3-4">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(13).toString()}=='등록된 식단이 없습니다.'" class="menu3-4" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(13).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=13'" class="menu3-4" th:text="${diets.get(13)}"  >메뉴1</p>
                    </blockquote>
                </td>
                <td class="mainTd4-4">
                    <blockquote width="50" height="90">
                        <p th:if="${diets.get(15).toString()}=='등록된 식단이 없습니다.'" class="menu4-4" >등록된 식단이 <br>없습니다.</p>
                        <p th:unless="${diets.get(15).toString()}=='등록된 식단이 없습니다.'" onClick="location.href='/searchToday?menuNo=15'" class="menu4-4" th:text="${diets.get(15)}"  >메뉴1</p>
                    </blockquote>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<script>
    function openSearchNav(){
        document.getElementById("searchSideNav").style.height= "65px";
    }
    function closeSearchNav(){
        document.getElementById("searchSideNav").style.height= "0";
    }
</script>
</html>
