<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" >

<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://kit.fontawesome.com/76cfe4f16b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/mainjomeJs.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainhomeStyle.css">
    <title>이돼장</title>
    <style media="screen">
        .wrap{
            width: 1000px;
            height: 300px;
            overflow-x: scroll;
            white-space:nowrap
        }
        .wrap img{
            width:300px;
            height:100%;
        }
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

        .gamja-font{
            font-family: 'Nanum Myeongjo', serif;
        }
    </style>

</head>
<body class="gamja-font">
<header>
    <div> <!-- 上 부분-->
        <h1 class="logo">
            <a href="/">
                <img src="images/logo.png" width="134" height="35" fill="none"></img>
            </a>
        </h1>
            <form class="search-form" id="new_menu_form" action="/menus/search" accept-charset="UTF-8" method="get" >
                <input placeholder="메뉴, 장소 등" autocomplete="off" class="p-header__search-form-input" type="search" name="menu_form[q]" id="menu_form_q">
                <button name="button" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        <a th:if= "${session.loginCheck eq true}" class="mypageButton" href="/mypage" role="button" >
            마이페이지
        </a>
        <a th:if= "${session.loginCheck eq true}" class="logout" href="/user/signOut" role="button" >
            로그아웃
        </a>
        <a th:unless="${session.loginCheck eq true}" class="logout" href="/login" role="button" >
            로그인
        </a>

    </div>
</header>
<main>
    <div> <!-- 上中 부분-->
<!--        <p th:text="'안녕하세요, 님!'" >hello!</p>-->
    </div>

    <div align="center"><!-- 中 부분, 식단컨텐츠　-->
        <h1>
            오늘의 메뉴
        </h1>
<!--        <div>-->
<!--            <form action="/main">-->
<!--                <input class="prevDate" type="submit">  <i class="fas fa-angle-left"></i> </input>-->
<!--                <span th:text="${theDate}"></span>-->
<!--                <input class="nextDate" type="submit"> <i class="fas fa-angle-right"></i> </input>-->
<!--            </form>-->
<!--        </div>-->
        <table>
            <thead>
                <tr>
                    <td>
                        <p>생활관 학생식당</p>
                    </td>
                    <td>
                        <p>생활관 교직원 식당</p>
                    </td>
                    <td>
                        <p>진선미관 식당</p>
                    </td>
                    <td>
                        <p>헬렌관 식당</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <blockquote width="50" height="90">
                            <p class="menu1"  th:text="*{diets.get(0)}" >메뉴1</p>
                        </blockquote>
                    </td>
                    <td>
                        <blockquote width="50" height="90">
                            <p class="menu1"   th:text="*{diets.get(2)}">메뉴2</p>
                        </blockquote>
                    </td>
                    <td>
                        <blockquote  width="50" height="90">
                            <p class="menu1" th:text="*{diets.get(4)}" >메뉴3</p>
                        </blockquote>
                    </td>
                    <td>
                        <blockquote  width="50" height="90">
                            <p class="menu1"  th:text="*{diets.get(6)}">메뉴4</p>
                        </blockquote>
                    </td>
                </tr>
            </tbody>
            <tbody height="50px">
                <tr>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(1)}">메뉴1-2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(3)}">메뉴2-2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(5)}">메뉴3-2</p>
                    </blockquote>
                </td>
                    <td>
                        <blockquote width="50" height="90">
                            <p class="menu2" th:text="*{diets.get(7)}">메뉴3-2</p>
                        </blockquote>
                    </td>
                </tr>
            </tbody>
            <thead>
            <tr>
                <td>
                    <p>공대식당</p>
                </td>
                <td>
                    <p>한우리집 지하 1층</p>
                </td>
                <td>
                    <p>이하우스 201동</p>
                </td>
                <td>
                    <p>이하우스 301동</p>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu1" th:text="*{diets.get(8)}">메뉴1</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu1" th:text="*{diets.get(10)}">메뉴2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote  width="50" height="90">
                        <p class="menu1" th:text="*{diets.get(12)}">메뉴3</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote  width="50" height="90">
                        <p class="menu1" th:text="*{diets.get(14)}">메뉴3</p>
                    </blockquote>
                </td>
            </tr>
            </tbody>
            <tbody height="50px">
            <tr>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(9)}">메뉴1-2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(11)}">메뉴2-2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(13)}">메뉴3-2</p>
                    </blockquote>
                </td>
                <td>
                    <blockquote width="50" height="90">
                        <p class="menu2" th:text="*{diets.get(15)}">메뉴3-2</p>
                    </blockquote>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
